<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h2>스프링부트 시작합니다.</h2>
    <a href="/member/save">회원가입</a>
    <a href="/member/login">로그인</a>
    <a href="/member/">회원목록</a>
    <br>
    <button onclick="saveReq()">글작성</button>
    <button onclick="listReq()">글목록</button>
    <button onclick="test()">테스트</button>
</body>
<script>
    const saveReq = () => {
        location.href = "/board/board_save";
    }
    const listReq = () => {
        location.href = "/board/board_list";
    }
</script>

</html>